# Node.js
node_modules/

# Archivos subidos
uploads/

# Archivos sensibles
.env

# Configuración de IDEs
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Archivos temporales
*.tmp
*.bak
*.sql
.DS_Store
Thumbs.db
